<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     
    <link rel="shortcut icon" href="favicon.ico" />

    <title>@ViewBag.Title</title>
    <meta name="description" content="Congun" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- sample fb meta -->
    <meta prefix="og: http://ogp.me/ns#" property="og:title" content="@ViewBag.Title" />
    <meta prefix="og: http://ogp.me/ns#" property="og:type" content="website" />
    <meta prefix="og: http://ogp.me/ns#" property="og:image" content="@ViewBag.ImagePath1" />
    <meta prefix="og: http://ogp.me/ns#" property="og:url" content="http://congun.com/" />
    <meta property="og: http://ogp.me/ns#" property="og:description" content="@ViewBag.Description" />
    <meta property="og: http://ogp.me/ns#" property="og:site_name" content="Congun" />


    <!-- sample twitter meta -->
    <meta name="twitter:card" content="Congun Congun is super">
    <meta name="twitter:site" content="@ViewBag.Title">
    <meta name="twitter:creator" content="@ViewBag.Title">
    <meta name="twitter:title" content="@ViewBag.Title">
    <meta name="twitter:description" content="@ViewBag.Description">
    <meta name="twitter:image" content="@ViewBag.ImagePath1">

    <link rel="icon" type="image/png" href="@ViewBag.ImagePath1" />





    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../fancybox/jquery.fancybox.css">
    <link rel="stylesheet" type="text/css" href="~/Content/rrssb.css">
    <script src="~/Scripts/bootstrap.min.js"></script>
    <style type="text/css">
        .navbar-login {
            padding: 10px;
            padding-bottom: 0px;
        }

        .navbar-login-session {
            padding: 10px;
            padding-bottom: 0px;
            padding-top: 0px;
        }

        .icon-size {
            font-size: 87px;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Congun", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Used Equipment", "List", "Used")</li>
                    <li>@Html.ActionLink("Rental Posts", "List", "Rental")</li>
                    <li>@Html.ActionLink("Business Listing", "List", "BList")</li>
                    @*<li>@Html.ActionLink("Finance", "Index", "Home")</li>*@

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.Partial("_LoginPartial")</li>
                </ul>
            </div>
        </div>
    </div>
    @*<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("example", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Used Equipment", "List", "Used")</li>
                        <li>@Html.ActionLink("Rental Posts", "List", "Rental")</li>
                        @*<li>@Html.ActionLink("Finance", "Index", "Home")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>*@
    <div class="">
        @RenderBody()
        <footer>

            <div class="congun_footer_color">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <h4 class="congun_ul_h4">POLICIES</h4>
                            <ul class="congun_ul">
                                <li><a href="~/TermsConditions.html" target="_blank">Terms & Conditions</a></li>
                                <li><a href="~/PrivacyPolicy.html" target="_blank">Privacy Policies</a></li>

                            </ul>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <h4 class="congun_ul_h4">COMPANY</h4>
                            <ul class="congun_ul">
                                <li><a href="#">Careers</a></li>
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Testimonial</a></li>
                                <li><a href="#">Media Kit</a></li>
                                <li><a href="#">Feedback</a></li>
                            </ul>
                        </div>

                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <h4 class="congun_ul_h4">Congun.com</h4>
                            <p class="congun_ul_li_p">Exclusive Construction equipment platform to share, get direct business contacts from all over india at single point for free</p>
                            <div class="test">
                                <a class="twitter" href="https://twitter.com/Congunltd" target="_blank"><i class="fa fa-twitter fontsize12em" aria-label="twitter for congun"></i></a>
                                <a class="twitter" href="https://www.facebook.com/Congun.india/" target="_blank"><i class="fa fa-facebook fontsize12em" aria-label="facebook for congun"></i></a>
                                <a class="twitter" href="https://plus.google.com/u/0/106690083354786500962" target="_blank"><i class="fa fa-google-plus fontsize12em" aria-label="Google Plus for congun"></i></a>

                                <a class="twitter" href="https://www.linkedin.com/company-beta/13198220/" target="_blank"><i class="fa fa-linkedin  fontsize12em" aria-label="linkedin for congun"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    @*<script src="~/Scripts/bootstrap.min.js"></script>*@
    <script src="http://cdnjs.cloudflare.com/ajax/libs/typed.js/1.1.4/typed.min.js"></script>
    <script type="text/javascript" src="../../fancybox/jquery.fancybox.js"></script>
    <script type="text/javascript" src="~/Scripts/rrssb.min.js"></script>
    <script src="~/Scripts/app.js"></script>
</body>
</html>