@model IEnumerable<BusinessAccessLayer.BListModel>

@foreach (var item in Model)
{
    <div class="rentEquipmentrow">
        <div class="row form-group">
            <div class="col-md-4  col-xs-12">
                <p><b>@Html.DisplayFor(modelItem => item.CompanyName)</b></p>
                <p><span style="color:gray;">Year</span> &nbsp; @Html.DisplayFor(modelItem => item.Year) &nbsp; <span style="color:gray;">To</span> &nbsp;@Html.DisplayFor(modelItem => item.Address) </p>
                <p><span style="color:gray;">Contact</span> &nbsp;<i class="fa fa-phone"></i>&nbsp;@Html.DisplayFor(modelItem => item.MobilePhone) </p>
                <p><span style="color:gray;">Comments</span> &nbsp;@Html.DisplayFor(modelItem => item.Description)</p>
                <p class="visible-sm visible-xs"><span style="color:gray;">Location</span> &nbsp;<i class="fa fa-map-marker"></i>&nbsp;&nbsp;@Html.DisplayFor(modelItem => item.Location)</p>
                <h5 class="visible-sm visible-xs">@Html.DisplayFor(modelItem => item.Category)</h5>
            </div>
            <div class="col-md-4  hidden-sm hidden-xs">
                <div class="businesscate">
                    <h5>@Html.DisplayFor(modelItem => item.Category)</h5>
                </div>
            </div>
            <div class="col-md-2 hidden-xs">
                <p class="hidden-xs hidden-sm businesscate"> <i class="fa fa-map-marker"></i>&nbsp;@Html.DisplayFor(modelItem => item.Location)</p>
            </div>
            <div class="col-md-2 hidden-xs hidden-sm businesscate">
                @Html.ActionLink("View Details", "Details", new { id = item.BusniessListID })
            </div>
            
        </div>
        <p class="visible-xs visible-sm btn btn-success businessbtn">@Html.ActionLink("View Details", "Details", new { id = item.BusniessListID }, new { @class = "businessbtncol" })</p>
    </div>
    <hr />
}
