@model BusinessAccessLayer.RentalModel

@{
    ViewBag.Title = "Rent your Equipment";
}
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link href="~/Content/themes/base/all.css" rel="stylesheet" />
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="~/Scripts/jqueryCombobox.js"></script>
<style>
    .custom-combobox {
    position: relative;
    display: inline-block;
}

.custom-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
}

.custom-combobox-input {
    margin: 0;
    padding: 5px 10px;
    width:330px;
}

#ui-id-1 {
    height:300px;
    overflow-y:auto;
}

</style>

<script type="text/javascript">
    var userType = "";
    $(document).ready(function () {
        //$("#EquipmentTypeOption").addClass("CustomDropDown");

        @*$('#txtEquipmentTypeOption').autocomplete(
        {
            minLength: 0,
            source: '@Url.Action("EquipmentTypeSearch", "Used")',
            close: function (event, ui) { SetEquipValue(); }
        }).focus(function () {
            $('#txtEquipmentTypeOption').autocomplete("search", "");
        });*@

        $("#EquipmentTypeOption").on("change", function () {
            $("#hdnEquipmentTypeSelected").val($("#EquipmentTypeOption").val());
        });

        $(".datefieldfuture").datepicker({
            dateFormat: "dd/mm/yy",
            changeMonth: true,
            changeYear: true,
            duration: "slow",
            minDate: 'today',
            yearRange: "-0:+60"
        });

        if ($("#hdnCheckForUser").val() == "True") {
            $("#btnSubmitDetail").val("Submit");
        }

        $("#Rent").attr("Checked", "True");

        $("#RentalCreateForm").submit(function (e) {
            if (userType == 'user') {
                var strusername = $("#LoginContactNumber").val();
                var strpassword = $("#LoginPassword").val();

                if (strusername != "" && strpassword != "") {

                    var url = '@Url.Action("ValidateUserDetail", "Rental")';

                    $.ajax({
                        url: url,
                        type: "POST",
                        data: { 'ContactNumber': strusername, 'Password': strpassword },
                        success: function (result) {
                            if (result != null && result != undefined && result == "False") {
                                alert('Invalid Login. Please enter valid credentails and try again.');
                                e.preventDefault();
                                return false;
                            } else {
                                $("#RentalCreateForm").unbind('submit').submit();
                                return true;
                            }
                        },
                        error: function (result, error) {
                            return false;
                        }
                    });
                    return false;
                }
            }
        });

        $("#EquipmentTypeOption").combobox({
            select: function (event, ui) {
                $("#hdnEquipmentTypeSelected").val(ui.item.value);
            }
        });
    });

    //function SetEquipValue() {
    //    $("#hdnEquipmentTypeSelected").val($("#txtEquipmentTypeOption").val().split("-")[1].trim());
    //}

    function ValidateEquipmentDropDown(type) {
        userType = type;
        var equipmentTypeVal = $("#hdnEquipmentTypeSelected").val();
        var msg = "";

        if (equipmentTypeVal != undefined && equipmentTypeVal == "") {
            msg = "Please select Equipment Type.";
        }

        if (msg == "") {
            if (type == 'guest') {
                return true;
            }
            else if (type == 'user') {
                var $form = $('form');
                if ($form.valid()) {
                    $('#myModal').modal('show');
                }
                return false;
            }
        }
        alert(msg);
        return false;
    }

    function SetRentalType(element) {
        if (element.value == "1") {
            $("#hdnRentalType").val("True");
            $("#divFromDate").css("display", "block");
            $("#divToDate").css("display", "block");
        } else {
            $("#hdnRentalType").val("False");
            $("#divFromDate").css("display", "none");
            $("#divToDate").css("display", "none");
        }
        return false;
    }

    
</script>

@using (Html.BeginForm("Create", "Rental", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form", @id = "RentalCreateForm" }))
{
    @Html.AntiForgeryToken()
    <div class="container">
        <h2 class="rentFontHead">Rent your Equipment</h2>
        
        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.CheckForUser, new { @id = "hdnCheckForUser" })
            <div class="form-group">
                <div class="col-md-2 col-lg-2 col-sm-12 col-xs-12" style="font-weight:bold;">
                    <label>Looking For</label>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-10 col-xs-12" style="vertical-align:bottom">
                    @foreach (var depart in Model.RentalTypeList)
                    {
                        @Html.RadioButtonFor(m => m.RentalType, depart.Id, new { @onclick = "SetRentalType(this)", @id = depart.Value })<span style="margin-right:10px;">@depart.Value </span>
                    }
                    @Html.HiddenFor(m => m.RentalType, new { @id = "hdnRentalType" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-2 col-lg-2 col-sm-12 col-xs-12">
                    <label>
                        @Html.LabelFor(model => model.EquipmentType, new { @class = "" })
                    </label>
                    <span style="text-align:center;color:red;font-size:15pt;">
                        *
                    </span>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-10 col-xs-12">
                    @Html.DropDownList("EquipmentTypeOption", "-- Select --")
                    @*@Html.TextBox("txtEquipmentTypeOption", "", new { @class = "form-control", @style = "" })*@
                    @Html.HiddenFor(m => m.EquipmentType, new { @id = "hdnEquipmentTypeSelected" })
                    @Html.ValidationMessageFor(model => model.EquipmentType)
                </div>
            </div>

            <div class="form-group" id="divFromDate">
                <div class="col-md-2 col-lg-2 col-sm-12 col-xs-12">
                    <label>
                        @Html.LabelFor(model => model.FromDate, htmlAttributes: new { @class = "" })
                    </label>
                    <span style="text-align:center;color:red;font-size:15pt;">
                        *
                    </span>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-10 col-xs-12">
                    @Html.EditorFor(model => model.FromDate, new { htmlAttributes = new { @class = "form-control datefieldfuture" } })
                    @Html.ValidationMessageFor(model => model.FromDate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" id="divToDate">
                <div class="col-md-2 col-lg-2 col-sm-12 col-xs-12">
                    <label>
                        @Html.LabelFor(model => model.ToDate, htmlAttributes: new { @class = "" })
                    </label>
                    <span style="text-align:center;color:red;font-size:15pt;">
                        *
                    </span>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-10 col-xs-12">
                    @Html.EditorFor(model => model.ToDate, new { htmlAttributes = new { @class = "form-control datefieldfuture" } })
                    @Html.ValidationMessageFor(model => model.ToDate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-2 col-lg-2 col-sm-12 col-xs-12">
                    <label>
                        @Html.LabelFor(model => model.Location, htmlAttributes: new { @class = "" })
                    </label>
                    <span style="text-align:center;color:red;font-size:15pt;">
                        *
                    </span>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-10 col-xs-12">
                    @Html.EditorFor(model => model.Location, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Location, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Comments, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4 col-lg-4 col-sm-10 col-xs-12">
                    @Html.EditorFor(model => model.Comments, new { htmlAttributes = new { @class = "form-control", @placeholder = "Model details, Papers, Condition, etc.," } })
                    @Html.ValidationMessageFor(model => model.Comments, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-2 col-lg-2 col-sm-12 col-xs-12">
                    <label>
                        @Html.LabelFor(model => model.ContactNumber, htmlAttributes: new { @class = "" })
                    </label>
                    <span style="text-align:center;color:red;font-size:15pt;">
                        *
                    </span>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-10 col-xs-12">
                    @Html.EditorFor(model => model.ContactNumber, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ContactNumber, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.EmailID, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.EmailID, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.EmailID, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-4">
                    <input id="btnSubmitDetail" type="submit" value="Post As Guest" class="btn btn-primary" onclick="return ValidateEquipmentDropDown('guest');" />
                    @if (Session["UserID"] == null)
                    {
                        <input type="submit" value="Post As Congun User" class="btn btn-success" onclick="return ValidateEquipmentDropDown('user');" />
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Login</h4>
                </div>
                <div class="modal-body">
                    @Html.Partial("_LoginFieldPartial", Model.LoginModel)
                </div>
                @*<div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>*@
            </div>

        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
