@model IEnumerable<BusinessAccessLayer.RentalModel>

@{
ViewBag.Title = "Rental Equipment List";
}
<div class="container">
    <div class="row">
        <div class="col-md-10">
            <h3>Rental Equipment List</h3>
        </div>
        <div class="col-md-2">
            <h4><a href="/Rental/Create" style="color:black;"><i class="fa fa-plus-circle fa-3x" aria-hidden="true" title="Rent Equipment" style="cursor:pointer;"></i></a></h4>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="congun_filter_rental">
                <div class="checkbox">
                    <label style="font-size: 1.5em">
                        <input type="checkbox" value="">
                        <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                        Rent
                    </label>
                </div>
                <div class="checkbox">
                    <label style="font-size: 1.5em">
                        <input type="checkbox" value="" checked>
                        <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                        Buy
                    </label>
                </div>
            </div>
            
        </div>
        <div class="col-md-8">
            @{int i=0;}

            @foreach (var item in Model)
            {

            <div class="row congun_rental_row">
                <div class="col-md-12">
                    <div class="col-md-2">


                     @if (item.RentalType == "Rent")
                     {
                     <img src="~/Images/rent.png" class="img-responsive congun_rental_image">
                 }
                 else
                 {
                 <img src="~/Images/buy.png" class="img-responsive congun_rental_image">
             }
         </div>
         <div class="col-md-9">
            <table class="table congun_rental_table">
                <tr>
                    <td>    <p>Form Date: <i class="fa fa-calendar"></i> @Html.DisplayFor(modelItem => item.FromDate)</p></td>
                    <td>    <p>to Date: <i class="fa fa-calendar"></i>@Html.DisplayFor(modelItem => item.ToDate)</p></td>
                </tr>
                <tr>
                    <td>    <p>Equipment Type : @Html.DisplayFor(modelItem => item.EquipmentType)</p>
                    </td>
                    <td><p>Contact Number : @Html.DisplayFor(modelItem => item.ContactNumber)</p></td>
                </tr>
                <tr>
                    <td><p>Location : <i class="fa fa-map-marker"></i>@Html.DisplayFor(modelItem => item.Location)</p></td>
                </tr>
            </table>                            
        </div>
        <div class="col-md-1 text-right">
            <div>
                <div class="rent_buy_congun">
                    <p>@Html.DisplayFor(modelItem => item.RentalType)</p>
                </div>
            </div>

        </div>
        <div class="col-md-12 text-left">
        <a href="javascript:void(0);" data-toggle="collapse" data-target="#demo_@i">Read More</a>
            <div id="demo_@i" class="collapse">
                @Html.DisplayFor(modelItem => item.Comments)
            </div>
        </div>
    </div>
</div>
}
</div>
</div>
</div>
