@{
    ViewBag.Title = "Home Page";
}

<script>
    function returnToUsedList() {
        window.location = '../Used/List/';
    }

    function returnToRentalList() {
        window.location = '../Rental/List/';
    }

    function SearchText() {
        if ($("#ddlSearch").val() == "1") {
            window.location = '../Used/List/';
        }
        else {
            window.location = '../Rental/List/';
        }
    }
</script>

<!--Main page image content-->
<div class="hero_congun_image">
    <div class="hero-content">
        <h1>Best Place to <span class="bottomright element"></span> a Heavy Equipment</h1>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <input type="text" class="form-control inputCongun_00" placeholder="Enter Equipment Name, Model No., Type and so on.." />
                    <select class="form-control inputCongun_01" id="ddlSearch">
                        <option value="1">Rent</option>
                        <option value="2">Sell</option>
                        <option value="3">Congun Elite Services</option>
                    </select>
                    <button class="btn btn-primary inputCongun_02" onclick="return SearchText();">Search</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Main page image content-->
<!--3 icons-->
<div class="container hidden-xs hidden-sm">
    <div class="row text-center Congun_branding_00">
        <div class="col-md-4">
            <div class="shadowBorder">
                <img height="60" width="60" src="~/Images/rent.png" />
                <h4>Equipment Requirement</h4>
                <p>Fill the form, Post your requirement. <br />Rest assured.</p>
                <a class="congun_btn_00" href="/Rental/Create">Fill the Form</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="shadowBorder">
                <img height="60" width="60" src="~/Images/buy.png" />
                <h4>Sell Equipment</h4>
                <p>Post your used equipment to sell<br />to get buyers.</p>
                <a class="congun_btn_00" href="/Used/Create">Post Used Equipment</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="shadowBorder">
                <div class="roundicon_congun">Free</div>
                <div class="roundicon_congun_00">
                    <img height="60" width="60" src="~/Images/elite.png" />
                    <h4>Congun Elite Services</h4>
                    <p>Sign up for our elite services today!<br />We will work with you on your needs.</p>
                    <a class="congun_btn_00" href="/Account/Signup">Sign-up to become an Elite Member</a>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="container hidden-lg hidden-md">
    <div class="row text-center">
        <div class="col-xs-4 col-sm-4">
            <div class="shadowBorder_mobile">
                <img height="60" width="60" src="~/Images/rent.png" />
                <h4>Equipment Requirement</h4>

                <a class="congun_btn_00_mobile" href="/Rental/Create">Fill the Form</a>
            </div>
        </div>
        <div class="col-xs-4 col-sm-4">
            <div class="shadowBorder_mobile">
                <img height="60" width="60" src="~/Images/buy.png" />
                <h4>Sell Equipment</h4>
                <a class="congun_btn_00_mobile" href="/Used/Create">Post</a>
            </div>
        </div>
        <div class="col-xs-4 col-sm-4">
            <div class="shadowBorder_mobile">
                <img height="60" width="60" src="/Images/elite.png">
                <h4>Congun Elite Services</h4>
                <a class="congun_btn_00_mobile" href="/Account/Register">Signup</a>
            </div>
        </div>
    </div>
</div>


<!--3 icons-->
<!--Featured Products to Buy and   Featured Postings for Rent-->
<div class="container">
    <div>
        <div class="row FeaturedBuyMargin hidden-xs">
            <div class="col-md-12 text-center">
                <img height="60" width="60" class="img-responsive marginauto contactus_congun_image" src="~/Images/buy.png" />

                <h2 class="contactus_congun_image">Featured Products to Buy</h2>
            </div>
        </div>
        <div class="row FeaturedBuyMargin hidden-md hidden-lg hidden-sm">
            <div class="col-xs-2" style="text-align:center;">
                <img height="60" width="60" class="img-responsive" src="~/Images/buy.png" />
            </div>
            <div class="col-xs-10" style="text-align:center;">
                <h2>Featured Products to Buy</h2>
            </div>
        </div>
        <div class="row text-center Congun_Products_00">
            <div class="row">
                <div class="col-md-12" style=" cursor:pointer;">

                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-12" style=" cursor:pointer;">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-9 col-sm-8 col-xs-9 customimage_congun_12">
                                    @if (ViewBag.ImagePath1 != null)
                                    {
                                        <img id="img1" src="@ViewBag.ImagePath1" class="img-responsive marginauto congun_image_feature" onclick="return returnToUsedList();" />
                                    }
                                  
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-3">
                                    <a href="../Used/List/">
                                        <img src="/Images/angleright.png" class="marginauto viewall_congun">
                                        <p>View all</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="row margintop5">
                            <div class="col-md-3 col-sm-3 col-xs-6 congun_cfs_col">
                                <div class="customimage_congun">

                                    @if (ViewBag.ImagePath2 != null)
                                    {
                                        <img id="img2" src="@ViewBag.ImagePath2" class="img-responsive marginauto" onclick="return returnToUsedList();" />
                                    }

                                </div>

                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-6 congun_cfs_col">
                                <div class="customimage_congun">

                                    @if (ViewBag.ImagePath3 != null)
                                    {
                                        <img id="img2" src="@ViewBag.ImagePath3" class="img-responsive marginauto" onclick="return returnToUsedList();" />
                                    }

                                </div>

                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-6 congun_cfs_col">
                                <div class="customimage_congun">

                                    @if (ViewBag.ImagePath4 != null)
                                    {
                                        <img id="img2" src="@ViewBag.ImagePath4" class="img-responsive marginauto" onclick="return returnToUsedList();" />
                                    }

                                </div>

                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-6 congun_cfs_col">
                                <div class="customimage_congun">

                                    @if (ViewBag.ImagePath5 != null)
                                    {
                                        <img id="img2" src="@ViewBag.ImagePath5" class="img-responsive marginauto" onclick="return returnToUsedList();" />
                                    }

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfx_congun"></div>
    <div>
        <div class="row hidden-xs clearfx_congun">
            <div class="col-md-12 text-center">
                <img height="60" width="60" class="img-responsive marginauto contactus_congun_image" src="~/Images/rent.png" />
                <h2 class="contactus_congun_image">Featured Postings for Rent</h2>
            </div>
        </div>
        <div class="row hidden-md hidden-lg hidden-sm margintop20 congun_rent_h2">
            <div class="col-xs-2 text-center">
                <img height="60" width="60" src="~/Images/rent.png" />
            </div>
            <div class="col-xs-10 text-center">
                <h2>Featured Postings for Rent</h2>
            </div>
        </div>
        <div class="row Congun_Products_00">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="col-md-6 col-sm-6 col-xs-12 congun_cfs_col">
                        <div class="congun_posting_for_rent_00" onclick="return returnToRentalList();" style="cursor:pointer;">
                             @Html.Raw(ViewBag.RentDetail1)

                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12 congun_cfs_col">
                        <div class="congun_posting_for_rent_01" onclick="return returnToRentalList();" style="cursor:pointer;">
                             @Html.Raw(ViewBag.RentDetail2)
                        </div>
                    </div>
                </div>
            </div>
            <div class="margintop20"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="col-md-6 col-sm-6 col-xs-12 congun_cfs_col">
                        <div class="congun_posting_for_rent_00" onclick="return returnToRentalList();" style="cursor:pointer;">
                            @Html.Raw(ViewBag.RentDetail3)
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-12 congun_cfs_col">
                        <div class="congun_posting_for_rent_01" onclick="return returnToRentalList();" style="cursor:pointer;">
                            @Html.Raw(ViewBag.RentDetail4)

                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfx_congun">  </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="col-md-6 col-sm-6 col-xs-12 congun_cfs_col">
                        <div class="congun_posting_for_rent_00" onclick="return returnToRentalList();" style="cursor:pointer;">
                            @Html.Raw(ViewBag.RentDetail5)
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12 text-right congun_cfs_col">
                        <a href="../Rental/List/">
                            <img src="/Images/angleright.png" class="marginauto viewall_congun">
                            <p>View all</p>
                        </a>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
<!--Featured Products to Buy and   Featured Postings for Rent-->
<!--Contact us-->
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <div>
                <img src="~/Images/contact.PNG" class="marginauto contactus_congun_image" />
                <span class="contactus_congun">Contact Us</span>
            </div>
            <div class="clearfx_congun"></div>
            <div>
                <p>T-HUB Foundation, Catalyst Building, IIIT Campus,  Gachibowli</p>
                <p>Hyderabad, Telangana- 500 032</p>
                <p>+91- 9989933636 | info@congun.com</p>
            </div>
        </div>
    </div>
</div>
<!--Contact us-->